{% extends "base.html" %}
{% block content %}
<ul>
	<h1>Team Change Project</h1>
	<br/>
	<li><h3>Click on submit to invoke Directory and File creation operation </h3></li>
	<form action = "invokeCreationOfFiles" method='post'>
		{% csrf_token %}
		<input type = "submit">
	</form>

	<br/>

	<li><h3>Click on submit to see list of all Directories and Files </h3></li>
	<form action = "getListOfAllFiles" >
		<input type = "submit">
	</form>

	<br/>

	<li><h3>Enter the Directory name and File name to get File content </h3></li>

	<form action = "getContentOfFile" >	
		Enter Folder Name : <input type="text" name="Folder Name"><br>
		Enter File Name   : <input type="text" name="File Name"><br>
		<input type ="submit">
	</form>
</ul>	
{% endblock content %}