<h1>Team Change Project</h1>

<h3>1. Click on submit to invoke Directory and File Making Operation</h3>
<form action = "invokeCreationOfFiles">
	<input type = "submit">
</form>

<h3>2. Click on submit to see list of all directories and files </h3>
<form action = "getListOfAllFiles">
	<input type = "submit">
</form>

<h3>3. Enter the directory name and file name to get the corresponding message </h3>

<form action = "getContentOfFile">	
	Enter Folder Name : <input type="text" name="Folder Name"><br>
	Enter File Name   : <input type="text" name="File Name"><br>
	<input type ="submit">
</form>